h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.upper {
  margin-left: 15px;
}
#longitudebox {
  margin-top: 5px;
}
#submit {
  margin-top: 5px;
}
#headers {
  border-collapse: separate;
  border-spacing: 9.5px 0;
}
#title {
  padding: 10px 0;
}
